.v-dialog {
  opacity: 0;
  margin: 0 auto;
  padding: $grid2x 0;
  border-radius: $grid4x;
  max-width: 320px !important;
  background-color: transparent;

  .v-card {
    @include user-select();
    @include border-radius(0);

    .v-card_title,
    .v-card_text {
      margin: 0 auto;
      text-align: center;
      display: inline-block;
      width: calc(100% - #{$grid8x});
    }

    .v-card_title {
      font-weight: 700;
      padding-bottom: 0;
      @include font-size($grid5x);
    }

    .v-card_text {
      padding-top: 0;
      @include font-size($grid4x);
    }

    .v-card_actions {
      width: 100%;
      padding: 0 0 $grid2x 0;

      button {
        width: 50%;
        height: $grid12x;

        &.logout {
          font-weight: 700;
          color: $brand_red;
        }
      }
    }
  }
}

.theme-light {
  .v-dialog {
    .v-card_title,
    .v-card_text {
      color: $text333 !important;
    }

    .v-card_actions {
      button {
        &.cancel {
          color: $text777 !important;
        }
      }
    }
  }
}

.theme-dark {
  .v-dialog {
    .v-card_title,
    .v-card_text {
      color: $white87 !important;
    }

    .v-card_actions {
      button {
        &.cancel {
          color: $white54 !important;
        }
      }
    }
  }
}
