.spinner {
  position: absolute;
  left: 0;
  z-index: 3;
  margin: auto;
  width: 100% !important;
  background-color: $brand_16 !important;
  top: $header !important;

  @supports (top: env(safe-area-inset-top)) {
    top: calc(env(safe-area-inset-top) + #{$header}) !important;
  }

  div {
    height: 4px !important;
    color: $brand !important;
    background-color: $brand !important;
  }
}
