.toasted-container.bottom-center {
  margin-bottom: $grid16x;

  // iPhone X safearea
  @supports (margin-bottom: env(safe-area-inset-bottom)) {
    margin-bottom: calc(env(safe-area-inset-bottom));
  }

  .toasted.primary.default {
    width: auto !important;
    color: #fff !important;
    margin: 0 auto !important;
    font-weight: 400 !important;
    text-align: center !important;
    background: $black78 !important;
    margin-bottom: $grid12x !important;
    padding: $grid3x $grid4x !important;
    @include font-size($grid3x);
    @include border-radius($grid16x !important);
    @include box-shadow($grid, $grid2x, $black16);
  }
}
