$text333: #333;
$text555: #555;
$text777: #777;
$text999: #999;
$textaaa: #aaa;
$textccc: #ccc;
$textddd: #ddd;
$texteee: #eee;
$stroke: #eee;
$textf0: #f0f0f0;
$textf4: #f4f4f4;
$textf9: #f9f9f9;
$textfa: #fafafa;

$black78: rgba(0, 0, 0, 0.78);
$black64: rgba(0, 0, 0, 0.64);
$black54: rgba(0, 0, 0, 0.54);
$black38: rgba(0, 0, 0, 0.38);
$black24: rgba(0, 0, 0, 0.24);
$black16: rgba(0, 0, 0, 0.16);
$black08: rgba(0, 0, 0, 0.08);
$black04: rgba(0, 0, 0, 0.04);
$black03: rgba(0, 0, 0, 0.03);

$white87: rgba(255, 255, 255, 0.87);
$white78: rgba(255, 255, 255, 0.78);
$white54: rgba(255, 255, 255, 0.54);
$white38: rgba(255, 255, 255, 0.38);
$white10: rgba(255, 255, 255, 0.10);

$brand: #327DE1;
$brand_dark: #2968BC;
$brand_16: #DEEAFA;
$brand_red: #ed1c24;

$facebook: #3b5998;
$twitter: #1da1f2;
$google: #4285f4;
