// lightmode
.lightmode {
  color: $black78 !important;
  background-color: #fff !important;

  div.bg,
  aside {
    color: $black78 !important;
    background-color: #fff !important;
  }

  .bottomsheet__header-left>button {
    color: $black54 !important;
  }

  input {
    background-color: $black08 !important;
  }
}

// darkmode
.darkmode {
  color: $white87 !important;
  background-color: $text333 !important;

  div.bg,
  aside {
    color: $white87 !important;
    background-color: $text333 !important;
  }

  .drawer__logout-btn {
    color: $white87 !important;
    background-color: $white10 !important;
  }

  input {
    color: $white87 !important;
    background-color: $white10 !important;
  }

  form {
    ::-webkit-input-placeholder {
      color: $white54 !important;
    }

    ::-moz-placeholder {
      color: $white54 !important;
    }

    ::-ms-placeholder {
      color: $white54 !important;
    }

    ::-webkit-input-placeholder {
      color: $white54 !important;
    }

    :-ms-input-placeholder {
      color: $white54 !important;
    }

    ::-ms-input-placeholder {
      color: $white54 !important;
    }

    ::placeholder {
      color: $white54 !important;
    }
  }

  span {
    &.checkmark {
      background-color: $white10 !important;
    }
  }

  input:checked~.checkmark {
    background-color: $brand !important;
  }

  a,
  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  svg,
  input,
  label,
  select,
  .header__right>button {
    color: $white87 !important;
  }

  .drawer__userInfo-email {
    color: $white54 !important;
  }

  .notices__list {
    span {
      color: $white54 !important;
    }
  }

  .v-dialog {
    background-color: $text333 !important;
  }
}
